.main {
  width: 100%;
}

.sidebar {
  width: 15%;
  float: left;
  height: 604;
}

.data_grid {
  width: "85%";
  float: "left";
}

.set {
  top: 64px;
}

*/ .test {
  background-color: aqua;
}

.css-132a6sb-MuiTableCell-root {
  padding: 4px !important;
}
